body{
    font-family: 'Notosans2', 'Open-Sans', Roboto, 'Noto Sans TC', sans-serif;
    /* box-sizing: border-box; */
}




.header {
    height:50px;
    background-color:white;
    position: fixed;
    z-index: 5;
    width: 100%;
    box-shadow: 0px 2px 5px #e0dddd;
    -webkit-box-shadow: 0px 2px 5px #e0dddd;
    -moz-box-shadow: 0px 2px 5px #e0dddd;
}



.logo {
    width: 60px;
    height: 40px;
    margin-left: 10px;
}

.logo a {
    display: block;
    height: 40px;    
}

.logo img {
    display: block;
    /*用vertical-aling:top也可以*/
    width: 200%;
    padding: 15px 10px;
}





.banner .banner-sm{
    display: none;
}
.banner .banner-lg{
    display: none;
}


.intro{
    margin: auto;
    height: 100%;
    text-align: center;
    padding: 10% 25px;
}
.intro h1{
    font-size: 160%;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 30px;
}

.intro .intro-sm,
.intro .intro-lg{
    display: none;
}




.service .row{
    padding: 0px 0px 50px;
}


.service .row::after{
    content: " ";
    width: 93%;
    border: .3px solid rgb(235, 232, 232);
    margin: auto;       /*無法用just.align.vertical居中*/
}
.service .row:last-child::after{
    display: none;
}

.service .pic img{
    width: 100%;
    vertical-align: middle;
}
.service .txt h2{
    font-size: 160%;
    font-weight: bold;
    line-height: 1.5;
    margin: 0 0 50px;
}
.service .txt p{
    font-size: 92%;
    font-weight: normal;
    color: #324255;
    line-height: 1.8;
    margin: 0 0 25px;
    text-align: justify;
}
.service .txt ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 25px;
    padding: 0;
    color: #00142D;
}
.service .txt li{
    width: 100%;
    line-height: 2.5;
    font-size: 92%;    
}
.service .txt .checkmark{
    display: inline-block;
}
.service .txt .checkmark::after {
    content: '✓';
    background: #deebff;
    border-radius: 50%;
}

.service .link a{
    color:#0061ff;
    text-decoration: none;
    display: block;
    padding-bottom: 60px;
    /* border-bottom:1px solid rgb(199, 195, 195); */
    font-size: 92%;    
}
/* .service .link a + .service .link a{
    border-bottom:1px solid rgb(199, 195, 195);
} */







.additional{
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 30px 0px 25px;
    background-color: #f4f5f7;
    box-sizing: border-box; 
}
.additional h2{
    font-size:220% ;
    font-weight: bold;
    margin: 30px 0 50px;
    text-align: center;
}
.additional .row{
    display: flex;
    justify-content: space-evenly;
}
.additional .col-6{
    width: 50%;
    height: 100%;
    margin-bottom: 60px;
}
.additional .pic{
    width: 120px;
    height: 120px;
    line-height: 120px;
    margin: 0 auto 30px;    
    border-radius: 50%;
    background-color: white;
    text-align: center;    
}
.additional .pic img{
    width: 72px;
    vertical-align: middle;
}
.additional .txt h3{
    font-size: 100%;
    height: 35px;
    text-align: center;
}
.additional .txt p{
    font-size: 85%;
    height: 55px;
    line-height: 1.8;
    text-align: justify;
}




.wrap{
    min-height: 625px;
    background-color: #244680; 
}
.wrap .item{
    display: flex;
    padding: 100px 5vw 100px;
}
.wrap .txt h2{
    font-size: 250%;
    color: white;
    line-height: 1.5;
    margin-bottom: 50px;
    width: 100%;

}
.wrap .txt a{
    display: inline-block;
    text-decoration: none;
    background-color: #0061ff;
    color: white;
    border-radius: 30px;
    width: 100%;
    height: 50px;    
    line-height: 50px;
    text-align: center;    
}
.wrap .txt a:hover{
    background-color: #2065af;
}




.chatbot{
    position: fixed;
    bottom: 3vh;
    right: 5vw;
    width: 80px;
    height: 80px;
    background-color: #3493FB;
    border-color: #3493FB;
    border-radius: 50%;
    /* box-shadow: 0px 0px 0px #dad8d8; */
}
.chatbot img{
    position: absolute;
    top: 24%;
    left: 30%;
    width: 50%;
    vertical-align: middle;
    /* display: none; */
}
.chatbot i{
    display: none;
    position: absolute;
    top: 22%;
    left: 26%;
    width: 50%;
    color: white;
    font-size: 350%;
}










/*手機專用*/
@media screen and (max-width:767px){
    
    .banner .banner-sm{
        display: block;
        width: 100%;
        height: 100%;
    }

    .intro .intro-sm{
        display: inline;
        font-size: 100%;
        font-weight: normal;
        color: #324255;
        line-height: 1.8;
        margin-bottom: 20%;
    }
    


    .full-screen{
        position: fixed;
        bottom: -2px;
        left: 0;
        width: 65vw;         /**/
        height: 47vh;        /**/
        z-index: 10;
        background-image:url("https://img.shoplineapp.com/media/image_clips/606d791b511e9b001daedae0/original.png?1617787162");
        background-size: cover;   /**/
        display: flex;
    }
    .full-screen .txt{
        width: 100%;
        max-width: 380px;
        max-height: 210px;
        padding-left: 15px;
        padding-top: 45px;
        padding-bottom: 20px;
        font-weight: bold;
        position: relative;
    }
    .full-screen .txt h2{
        line-height: 2;
        font-size: 20px;
        text-align: center;   /**/
    }
    .full-screen .txt p{
        line-height: 1.5;
        text-align: center;   /**/
    }
    .full-screen .banner{
        position: relative;
        width: 100%;
        padding-left: 15px;
        text-align: center;
    }
    .full-screen .banner a{
        display: inline-block;
        text-decoration: none;
        background-color: rgba(231, 94, 52, 0.897);
        color: white;
        border-radius: 30px;
        width: 180px;
        height: 30px;    
        line-height: 30px;
        text-align: center;
    }
    .full-screen img{
        width: 125px;
        position: absolute;
        left: 25%;      /**/
        bottom: -14%;   /**/
    }
    .full-screen .btn-close{
        position: absolute;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color:white;
        color: black;
        text-decoration: none;
        top: -10px;
        right: -10px;
        border-radius: 50%;
    }
}





/*手機和平板直向共用*/
@media screen and (max-width:991px){
    #menu_control {
        position: absolute;
        z-index: -2;
        opacity: 0;
    }
    .menu-guide{
        display: none;
    }
    
    .menu_btn {
        width: 40px;
        height: 40px;
        background-color: #ffffff;
        display: block;
        position: absolute;
        top: 5px;
        right: 10px;
    }
    
    
    /*按下漢堡前三條線統一的狀態*/
    .menu_btn span{
        width: 60%;
        height: 2px;
        background-color: rgb(7, 6, 6);
    
        position: absolute;
        display: block;   /*span是inline物件，所以要變block才看的到三條線*/
        margin: auto;  /*左右居中*/
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    
        transform: rotate(0deg);
        /* transition: top 1s, 
                    bottom 1s,
                    opacity 1s;  
                    transform 0.2s 1s;   */
    
    }
    /*按下漢堡前三條線分別的狀態*/
    .menu_btn span:first-child{
        top: 14px;
    }
    .menu_btn span:nth-child(2){
        opacity: 1;
    }
    .menu_btn span:last-child{
        bottom: 14px;
    }
    /*按下漢堡後，第一條和第三條往第二條重疊，並旋轉*/
    #menu_control:checked ~ .header .menu_btn span:first-child{
        top: 0;
        transform: rotate(45deg);
        transition: top 0s, 
                    transform 0s 0s;  
        /*第一條的bottom因為這邊沒有寫出來，所以是不會有動畫的*/
    }
    #menu_control:checked ~ .header .menu_btn span:nth-child(2){
        opacity: 0;  /*第二根消失*/
        transition: opacity 0s;  
    }
    #menu_control:checked ~ .header .menu_btn span:last-child{
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 0s, 
                    transform 0s 0s;  
        /*第三條的top因為這邊沒有寫出來，所以是不會有動畫的*/
    }
    
    
    .menu nav {
        width: 100%;
        height: calc(100vh - 50px);
        /*vh視窗高*/
        background-color: #ffffff;
        position: absolute;
        /*定位在header裡面*/
        top: 50px;
        right: -100%;
        /*用transfer也可以讓他暫時消失*/
        transition: .5s;
        box-sizing: border-box;
        padding: 20px 35px 30px;
    }
    
    .menu .submenu{
        display: block;
        text-decoration: none;
        color: black;
        padding: 25px 15px;
        border-bottom: 1px solid rgb(243, 238, 238);
    }
    
    
    .menu .submenu::after{
        font-family: "Font Awesome 5 Free"; 
        font-weight: 600; 
        content: '\f107';
        font-size: 14px;
        transform: translateY(-50%);
        color: #d2d7df;
    }
    
    
    .menu nav .free{
        display: none;
    }

    #menu_control:checked~.header nav {
        right: 0%;
    }




    .menu .menu-middle-top{
        position: absolute;
        bottom: 25%;
        width: 80%;
    
        background-color: #0061ff;
        border-radius: 200px;
        border: 1px solid #0061ff;
    }
    .menu .menu-middle-top a{
        display: block;
        color: white;
        text-decoration: none;
        text-align: center;
        height: 320%;
        line-height: 320%;
    }
    .menu .menu-middle-bottom{
        position: absolute;
        bottom: 15%;
        width: 80%;
    
        background-color: white;
        border-radius: 200px;    
        border: 1px solid #0061ff;
    }
    .menu .menu-middle-bottom a{
        display: block;
        color: #0061ff;
        text-decoration: none;
        text-align: center;
        height: 320%;
        line-height: 320%;
    }
    
    .menu .menu-middle-top a:hover{
        background-color: #2a569c;
    }
    .menu .menu-middle-bottom a:hover{
        border: 1px solid #082e6b;
    }
    
    
    
    .menu .menu-down{
        display: flex;
        position: absolute;
        bottom: 0%;
        right: 0%;
        background-color: rgb(0,20,45);
        width: 100%;
        justify-content: space-around;
    }
    .menu .menu-down a{
        display: block;
        color: white;
        height: 300%;
        line-height: 300%;
        text-decoration: none;
    }
    
    .menu .menu-down a:hover{
        color: #007bff;
    }
    
    .menu .down-left{
        position: relative;
    }
    
    .menu .down-left::after{
        content: " ";
        position: absolute;
        left: 200%;
        top: 28%;
        width: 0%;
        height: 45%;
        border: .1px solid rgb(235, 232, 232);
    }



    .container.footer{
        width: auto;
        height: 524px;
        padding: 50px 20px 0px;
        background-color: #00142D;
    }
    .row.net{
        width: auto;
        height: 48px;
        justify-content: space-evenly;
        align-items: center;
    
    }
    .footer .item{
        width: 80vw;
        height: 17px;
        line-height: 17px;
        padding: 20px 0 19px;
        border-top: .5px solid rgb(61, 58, 58);
    }
    .footer .item-title{
        text-decoration: none;
        color: white;
    }
    .footer .item-title::after{
        font-family: "Font Awesome 5 Free"; 
        font-weight: 600; 
        content: '\f107';
        font-size: 14px;
        /* transform: translateY(-50%); */
        color: #d2d7df;
        position: absolute; 
        right: 10%;
    }
    
    .footer .last-footer{
        border-bottom: .5px solid rgb(61, 58, 58);
    }
    .row{
        margin: auto;   /*為了不執行grid.css*/
    }
    .footer-nav{
        display: none;
    }
    
    
    
    
    .container-bottom{
        width: 335px;
        height: auto;
        padding: 0px 20px;
        /* margin-bottom: 95px; */
        background-color: #00142D;
    }
    
    .row-icon{
        display: flex;
        justify-content: space-around;
        margin-bottom: 10%;
    }
    .row-icon i{
        font-size: 150%;
        display:inline-block;
        padding: 10px;
        color:white;  
    }
    
    
    .sitelink a{
        display: block;
        width: 208px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        margin: auto;
        padding: 7px 0;
        text-decoration: none;
        color: white;
    }
    
    .copyright{
        color: rgb(155, 150, 150);
        text-align: center;
        padding: 8% 0 15%;
        line-height: 1.5;
    }


    .chatbox{
        display: none;
        position: fixed;
        bottom: 15vh;
        right: 3vw;
        width: 50vw;
        height: 65vh;
        background-color: white;
        box-shadow: 5px 5px 19px #8F8B8B;
        border-radius: 10px;
    }


}



/*平板直向.橫向.桌機共用*/
@media  screen and (min-width:768px) {

    .header {
        height:60px;
    }

    .menu .down-left::after{
        content: " ";
        position: absolute;
        left: 350%;
        top: 28%;
        width: 0%;
        height: 45%;
        border: .1px solid rgb(235, 232, 232);
    }

    .banner .banner-sm{
        display: block;
        width: 100%;
        height: 100%;
    }
    
    .intro .intro-sm{
        display: inline-block;
        font-size: 100%;
        font-weight: normal;
        color: #324255;
        line-height: 2.1;
        padding: 0 10%;
        text-align: center;
    }
    



    .container.service .txt li{
        width: 50%;
        line-height: 2;    
    }


    .additional .col-md-4{
        width: 30%;
        height: 100%;
        margin-bottom: 60px;
    }

    
    .container.footer{
        width: 100%;
        height: 524px;
        padding: 5px 20px 0px;
        background-color: #00142D;
    }
    .row{
        margin:25px;    /*拿掉手機上不執行grid.css的margin*/
    }

    


    .container-bottom{
        width: auto;
        height: auto;
        padding: 0px 20px;
        background-color: #00142D;
    }

    .row-icon{
        display: flex;
        justify-content: flex-start;
        margin-bottom: 10%;
    }
    .row-icon i{
        font-size: 150%;
        display:inline-block;
        padding: 20px;
        color:white;  
    }
    
    .sitelink {
        display: flex;
        position: relative;
    }    
    .sitelink a{
        display: block;
        width: auto;
        height: 36px;
        line-height: 36px;
        text-align: center;
        padding: 7px 20px;
        text-decoration: none;
        color: white;
    }
    
    .copyright{
        color: rgb(155, 150, 150);
        text-align: left;
        padding: 8% 20px 15%;
        line-height: 1.5;
    }

    .sitelink .sitelink-line::before{
        content: "";
        height: 30%;
        border: .1px solid white;
        position: absolute;
        left: 76px; 
        top: 16px;       
    }
    .sitelink .sitelink-line::after{
        content: "";
        height: 30%;
        border: .1px solid white;
        position: absolute;
        left: 158px; 
        top: 16px;       
    }




    .full-screen{
        position: fixed;
        bottom: -2px;
        left: 0;
        width: 380px;
        height: 240px;
        z-index: 10;
        background-image:url("https://img.shoplineapp.com/media/image_clips/606d791b511e9b001daedae0/original.png?1617787162");
        display: flex;
    }
    .full-screen .txt{
        width: 100%;
        max-width: 380px;
        max-height: 210px;
        padding-left: 15px;
        padding-top: 45px;
        padding-bottom: 20px;
        font-weight: bold;
        position: relative;
    }
    .full-screen .txt h2{
        line-height: 2;
        font-size: 20px;
    }
    .full-screen .txt p{
        line-height: 1.5;
    }
    .full-screen .banner{
        position: relative;
        width: 100%;
        padding-left: 15px;
    }
    .full-screen .banner a{
        display: inline-block;
        text-decoration: none;
        background-color: rgba(231, 94, 52, 0.897);
        color: white;
        border-radius: 30px;
        width: 180px;
        height: 30px;    
        line-height: 30px;
        text-align: center;
    }
    .full-screen img{
        width: 125px;
        position: absolute;
        left: 62%;
        top: 26%;
    }
    .full-screen .btn-close{
        position: absolute;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        background-color:white;
        color: black;
        text-decoration: none;
        top: -10px;
        right: -10px;
        border-radius: 50%;
    }


}



/*平板橫向.桌機共用*/
@media screen and (min-width:992px) {
    .menu_btn,
    #menu_control {
        display: none;
    }

    /* .header {
        display: flex;
        justify-content: space-between;
        background-color: #282923;
        align-items: center;
    } */

    .header{
        height: 120px;
    }
    .menu-guide{
        background-color: #00142d;
        font-size: 0;      
        padding: 3px 0;
        width: 100%;
        height: 30%;
    }
    .menu-guide nav{
        position: relative;
        height: 100%;
        left: 80%;
        display: flex;
        align-items: center;

    }
    .menu-guide a{
        display: block;    
        padding: 0px 20px;
        font-size: 14px;
        color:white;
        text-decoration: none;
        background-color: #00142d;        
        
    }
    .menu-guide a:hover{
        color:#007bff;
    }

    .menu-guide .guide-left::before{
        content: "";
        height: 50%;
        border: .1px solid white;
        position: absolute;
        left: -10px; 
        top: 9px;       
    }



    .logo{
        margin: 20px;
        margin-left: 7%;
        align-items: center;
    }
    .logo a{
        display: block;
    }
    .logo img{
        display: block;
        width: 230%;
        padding: 8px 10px;
    }


    .menu{
        position: absolute;
        left: 20%;
        top: 15%;
        width: 60vw;
        height: 5%;
        padding: 30px 0;
        background-color:transparent;
        font-size: 0;

        /* display: flex; */
        /* justify-content: space-between; */
        /* width: 100%;     */
        /* height: 35px; */
    }

    .menu nav ul {
        /*因為手機是position: absolute;，桌機則改回相對定位*/
        position: relative;
        display: flex;
        width: 150%;
        height: 100%;
        /*可回原始碼debug*/
        background-color: transparent;
        margin: 0px 5%;
    }
        
    .menu nav ul li {
        width: auto;
        /* height: 100%; */
        /* margin: 1%; */

        padding:30px 0;
        margin: 0 1%;
    }


    .menu nav .submenu{
        display: inline-block;    /*把<a>的padding撐高*/
        font-size: 14px;
        background-color: transparent;
        color:#324255;
        text-decoration: none;
        padding: 0px;   
        border-bottom: none;
        position: relative;
        width: 100%;
    }
    
    .menu .add-icon::before{
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900; 
        content: '\f107';
        font-size: 14px;
        position: absolute;
        left: 105%;
        top: 50%;
        transform: translateY(-50%);
    }
    .menu .submenu:hover{
        color: #007bff;
    }
    
    .menu .add-icon:hover::before{
        position: absolute;
        left: 105%;
        top: 5%;
        -moz-transform:scaleY(-1);
        -webkit-transform:scaleY(-1);
        -o-transform:scaleY(-1);
        transform:scaleY(-1);
    
    } 

    .menu .menu-last{
        display: inline-block;
        position: absolute;
        left: 45%;
        bottom: -10%;
        /* width: 300px; */
        /* height: 50px; */
        /* background-color: #0061ff; */
    }
    
    .menu .free{
        display: inline-block;
        /* position:  absolute;   */
        /* right: -50%; */
        position: relative;
        left: 250%;
        top: -25%;
        width: 90px;
        height: 35px;
        line-height: 35px;
        border-radius: 100px;
        background-color: #0061ff;

        color: white;
        font-size: 14px;
        text-decoration: none;       
        text-align: center;
        margin-right: 200%;

    }
        
    .menu .free:hover{
        background-color:rgb(50, 78, 160) ;
        color: white;
    }


    .menu-middle-top{
        display: none;
    }
    .menu-middle-bottom{
        display: none;
    }
    .menu-down{
        display: none;
    }

    .banner .banner-sm{
        display: none;
    }
    .banner .banner-lg{
        display: block;
        width: 100%;
        height: 100%;
    }    


    .intro{
        padding: 5% 25px 0%;
    }

    .intro h1{
        font-size: 180%;
    }

    .intro .intro-lg{
        display: inline-block;
        font-size: 100%;
        font-weight: normal;
        color: #324255;
        line-height: 1.8;
        margin-bottom: 10%;
    }


    .container.service .row{
        align-items: center;   /*垂直對齊*/
        margin-left: 5%;
        margin-right: 5%;
    }
    .container.service .row:nth-child(odd){
        flex-direction: row-reverse;
    }

    /* .container.service .txt li{
        width: 50%;
        line-height: 2;    
    } */



    .additional .container{
        margin-left: 2%;
        margin-right: 2%;
    }
    .additional .col-md-4{
        width: 30%;
        height: 100%;
        margin-bottom: 60px;
    }
    .additional .txt h3{
        font-size: 130%;
        height: 35px;
        text-align: center;
    }
    .additional .txt p{
        font-size: 100%;
        height: 55px;
        line-height: 1.8;
        text-align: justify;
    }

    
    .wrap{
        min-height: 425px;
        background-color: #244680; 
    }

    .wrap .item{
        padding: 100px 9% 100px;
    }




    .container.footer{
        width: 100%;
        margin: auto;
        height: 100%;
        padding: 50px 10% 0px;
        background-color: #00142D;
        box-sizing: border-box;

    }
    .footer .row{
        /* width: auto; */
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 30px 0% 130px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        margin: 0;
    }
    .footer .item{
        /* width: 14%; */
        height: 100%;
        padding: 20px 0 19px;
    }
    .footer .item-title{
        display: block;
        text-decoration: none;
        color: white;
        font-size: 17px;
        margin: 0 0 45px;
        
    }

    
    .footer-nav a{
        text-decoration: none;
        color: rgba(145, 141, 141, 0.692);
        line-height: 2.3;
    }







    .container-bottom{
        width: auto;
        /* height: 30vh; */
        /* padding: 0px 20px; */
        /* margin-bottom: 95px; */
        background-color: #00142D;
    }
    .row-bottom{
        display: flex;
        justify-content: space-between;
        padding: 10vh 2vw;
    }
    .column-first{
        order: -1;
    }
    

    .row-icon{
        display: flex;
    }
    .row-icon i{
        font-size: 200%;
        display:inline-block;
        padding: 10px;
        color:white;   
    }
    .sitelink {
        display: flex;
    }
    .sitelink a{
        display: block;
        width: 100%;
        height: 36px;
        line-height: 36px;
        text-align: center;
        margin: auto;
        padding: 7px;
        text-decoration: none;
        color: white;
        font-size: 85%;
    }

    .copyright{
        color: rgb(155, 150, 150);
        /* text-align: center; */
        line-height: 1.6;
        font-size: 85%;
        padding: 8px 15px;
        box-sizing: border-box;
    }
    

    .chatbox{
        display: none;
        position: fixed;
        bottom: 15vh;
        right: 3vw;
        width: 30vw;
        height: 65vh;
        background-color: white;
        box-shadow: 5px 5px 19px #8F8B8B;
        border-radius: 10px;
    }


}

/*桌機專用*/
@media screen and (min-width:1200px) {
    .menu .free{
        display: inline-block;
        /* position:  absolute;   */
        /* right: -50%; */
        position: relative;
        left: 310%;
        top: -25%;
        width: 90px;
        height: 35px;
        line-height: 35px;
        border-radius: 100px;
        background-color: #0061ff;

        color: white;
        font-size: 14px;
        text-decoration: none;       
        text-align: center;
        margin-right: 200%;

    }


    .row-bottom{
        display: flex;
        justify-content: space-between;
        padding: 10vh 8.5vw;
    }


    .chatbox{
        display: none;
        position: fixed;
        bottom: 15vh;
        right: 3vw;
        width: 20vw;
        height: 65vh;
        background-color: white;
        box-shadow: 5px 5px 19px #8F8B8B;
        border-radius: 10px;
    }
}



































